/* conflict with history feature from browser added by modernizr.js */
.history:not(html) {
  background-color: var(--secondary);
  color: #fff;
  border-right: 1px solid var(--surface);
}

.history__header {
  padding: 0.5em 1em;
  background-color: var(--surface);
}

.history__profile {
  display: flex;
}

.history__search {
  display: flex;
  padding: 10px 10px;
  border-bottom: 1px solid var(--surface);
}

.history__search i {
  position: absolute;
  padding: 7px 10px;
  color: #8696A0;
}

.history__input {
  flex: 1;
  border: none;
  background-color: var(--surface);
  padding: 7px 0px 7px 30px;
  border-radius: 7px;
}

.history__input::placeholder {
  font-size: 15px;
}

.history__submit {
  background: var(--primary);
  color: var(--white);
  border: none;
  padding: 0.5em 1em;
}